﻿<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/payment.js"></script>
    <link rel="stylesheet" href="~/css/newpayment.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>