﻿@page 
@* at_Page This line must be remained or you can not catch it.*@


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta charset="big5" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>超商繳款</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/payment.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" type="text/css" />
    </head>
    <body>
        <div>
            <table style="width:100%;">
                <tr><td class="title">超商繳款</td></tr>
                <tr>
                    <td class="content">
                        <span style="padding-right:10px;">適用店家</span>
                        <img src="~/img/711.png" style="width:20px; height:20px;" />
                        <img src="~/img/fm.png" style="width:20px; height:20px;" />
                        <img src="~/img/hl.png" style="width:20px; height:20px;" />
                        <img src="~/img/ok.png" style="width:20px; height:20px;" />
                    </td>
                </tr>
                <tr><td><span id="txtBarcode1" class="barcode">Model.Item1</span></td></tr>
                <tr><td><span id="txtBarcode2" class="barcode">Model.Item2</span></td></tr>
                <tr><td><span id="txtBarcode3" class="barcode">Model.Item3</span></td></tr>
                <tr>
                    <td class="main">
                        <span style="padding-right:10px;">繳款金額為</span>
                        <span id="txtRentalMoney" style="font-weight:bold;">Model.Rental_money</span>
                        <span style="padding-left:10px;"> 元(內含手續費)</span>
                    </td>
                </tr>
                <tr>
                    <td class="main" style="font-weight:bold;">此條碼僅提供一次性使，下次繳款時請重新點選簡訊連結網址，並保留代收商店發給之代收款專用繳款證明。</td>
                </tr>
            </table>
        </div>
        </body>
</html>