﻿* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    word-break: break-all;
    overflow-wrap: break-word;
}


.table {
width: 100%;
height: 100%;
}

.body {
border-bottom: dotted 1px;
}

.head {
width: 100%;
text-align: center;
border-bottom: dotted 1px;
}

.left {
width: 50%;
vertical-align: baseline;
}

.right {
width: 50%;
vertical-align: baseline;
}

.footer {
width: 100%;
}

.circle {
border-top: 1px solid;
border-right: 1px solid;
border-bottom: 1px solid;
border-left: 1px solid;
border-radius: 50%;
width: 50px;
height: 50px;
text-align: center;
}

.circle font {
font-weight: bold;
}

.cal {
border-top: solid 1px;
width: 100%;
}

.cal td {
height: 2.2em;
}

.cal tr td:not(.first) {
border-top: solid 1px;
}

.postofic {
width: 100%;
}

.postofic tr:first-child td {
border-bottom: solid 1px;
border-top: solid 1px;
}

.post_sign {
border: 1px solid;
padding: 5px;
height: 6em;
}

.keep_right {
margin-top: 10px;
float: right;
}

.convinstore {
border-collapse: collapse;
}

.convinstore td {
    border: 1px solid;
}

.centered {
text-align: center;
}

.regeon {
margin: 5px;
}
.barcode {
    font-family: 'Libre Barcode 39 Text', cursive !important;
    font-size: 30px;
}