﻿table tr {
    height: 70px;
}

.title {
    background-color: #eee;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    text-align: center;
}

.content {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}
.barcode {
    font-family: 'Libre Barcode 39 Text', cursive !important;
    font-size: 30px;
}

.main {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
}